<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th scope="col">
    <div>
        <span>
            Code Insee <a href="/?page=&search=&size=&sortDirection=ASC&sortProperty=codeInsee"><i
                class="fa fa-chevron-down"></i></a>
            Code Insee <a href="/?page=&search=&size=&sortDirection=DESC&sortProperty=codeInsee"><i
                class="fa fa-chevron-up"></i></a>
            <a href="/?page=&search=&size=&sortDirection=ASC&sortProperty=codeInsee">Code Insee</a>
        </span>
    </div>

</th>

</body>
</html>