<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<body>



<div class="container" th:fragment="communeList">
    <h2>Liste des communes </h2>
    <div class="row">
        <div class="col-lg-12">
            <div sec:authorize="hasRole('ADMIN')" class="btn-group">
                <a href="/communes/new" class="btn btn-primary">Nouvelle commune</a>
            </div>
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th scope="col">
                        <div>
                            
                            <span>
                                Code Insee
                                <a th:if="${sortDirection}==ASC" th:href="|/?page=${page}&search=${search}&size=${size}&sortDirection=DESC&sortProperty=codeInsee|"><i class="fa fa-chevron-down"></i></a>
                                <a th:if="${sortDirection}==DESC" th:href="|/?page=${page}&search=${search}&size=${size}&sortDirection=ASC&sortProperty=codeInsee|"><i class="fa fa-chevron-up"></i></a>
                            </span>
                        </div>
                        
                    </th>
                    <th scope="col">
                        
                        <div>
                            Code Postal
                            <a th:if="${sortDirection}==ASC" th:href="|/?page=${page}&search=${search}&size=${size}&sortDirection=DESC&sortProperty=codePostal|"><i class="fa fa-chevron-down"></i></a>
                            <a th:if="${sortDirection}==DESC" th:href="|/?page=${page}&search=${search}&size=${size}&sortDirection=ASC&sortProperty=codePostal|"><i class="fa fa-chevron-up"></i></a>
                        </div>
                    </th>
                    <th scope="col">
                        
                        <div>
                            Nom
                            <a th:if="${sortDirection}==ASC" th:href="|/?page=${page}&search=${search}&size=${size}&sortDirection=DESC&sortProperty=nom|"><i class="fa fa-chevron-down"></i></a>
                            <a th:if="${sortDirection}==DESC" th:href="|/?page=${page}&search=${search}&size=${size}&sortDirection=ASC&sortProperty=nom|"><i class="fa fa-chevron-up"></i></a>
                        </div>
                    </th>
                    <th scope="col">
                        
                        <div>
                            Latitude
                            <a th:if="${sortDirection}==ASC" th:href="|/?page=${page}&search=${search}&size=${size}&sortDirection=DESC&sortProperty=latitude|"><i class="fa fa-chevron-down"></i></a>
                            <a th:if="${sortDirection}==DESC" th:href="|/?page=${page}&search=${search}&size=${size}&sortDirection=ASC&sortProperty=latitude|"><i class="fa fa-chevron-up"></i></a>
                        </div>
                    </th>
                    <th scope="col">
                        
                        <div>
                            Longitude
                            <a th:if="${sortDirection}==ASC" th:href="|/?page=${page}&search=${search}&size=${size}&sortDirection=DESC&sortProperty=longitude|"><i class="fa fa-chevron-down"></i></a>
                            <a th:if="${sortDirection}==DESC" th:href="|/?page=${page}&search=${search}&size=${size}&sortDirection=ASC&sortProperty=longitude|"><i class="fa fa-chevron-up"></i></a>
                        </div>
                    </th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="commune : ${communes}">
                    <th scope="row" th:text="${commune.codeInsee}"></th>
                    <td th:text="${commune.codePostal}"></td>
                    <td th:text="${commune.nom}"></td>
                    <td th:text="${commune.latitude}"></td>
                    <td th:text="${commune.longitude}"></td>
                    <td ><a th:href="|/communes/${commune.codeInsee}|">Détail</a></td>
                </tr>

                </tbody>
            </table>
            <div class="row">
                <div class="col-lg-5">
                    <form action="/" method="get" class="form-inline">
                        <label for="pageSizePicker">Taille des pages&nbsp;</label>
                        <select name="size" id="pageSizePicker" class="custom-select"
                                onchange="javascript:this.form.submit()">
                            <option th:each="sizeChosen : ${sizeList}" th:value="${sizeChosen}" th:selected="${sizeChosen==size}" th:text="${sizeChosen}">
                            </option>
                        </select>
                        <input type="hidden" name="sortDirection" th:value="${sortDirection}">
                        <input type="hidden" name="sortProperty" th:value="${sortProperty}">
                        <input type="hidden" name="search" th:value="${search}">
                        <input type="hidden" name="page" th:value="${page}">
                    </form>
                </div>
                <div class="col-lg-2 text-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            
                            <li class="page-item" th:unless="${communes.isFirst()}">
                                <a class="page-link" th:href="|/?page=${page-1}&search=${search}&size=${size}&sortDirection=${sortDirection}&sortProperty=${sortProperty}|" th:value="${page}">
                                    &laquo;
                                </a>
                            </li>
                            <li class="page-item disabled" disabled th:if="${communes.isFirst()}">
                                <a href="#" class="page-link">&laquo;</a>
                            </li>
                            <li class="page-item">
<!--                                <a href="#" class="page-link">Page <span th:text="${pageNumber}"></span></a>-->
                                <form action="/" method="get">
                                    <select name="page" id="pagePicker" class="custom-select"
                                            onchange="javascript:this.form.submit()">
                                        <option th:each="pageChosen : ${#numbers.sequence(1, communes.getTotalElements())}" th:value="${pageChosen}" th:selected="${pageChosen==page}" th:text="|Page ${pageChosen}|"></option>
                                    </select>
                                    <input type="hidden" name="sortDirection" th:value="${sortDirection}">
                                    <input type="hidden" name="sortProperty" th:value="${sortProperty}">
                                    <input type="hidden" name="search" th:value="${search}">
                                    <input type="hidden" name="page" th:value="${page}">
                                    <input type="hidden" name="size" th:value="${size}">
                                </form>
                            </li>
                            <li class="page-item" th:unless="${communes.isLast()}">
                                <a class="page-link" th:href="|/?page=${page+1}&search=${search}&size=${size}&sortDirection=${sortDirection}&sortProperty=${sortProperty}|" th:unless="${communes.isLast()}">
                                    &raquo;
                                </a>
                            </li>
                            <li class="page-item" th:if="${communes.isLast()}">
                                <a class="page-link" href="#" disabled>
                                    &raquo;
                                </a>
                            </li>
                            
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-5 text-right mt-2">
                    <p>
                        Affichage des communes <span th:text="${start}">1</span> à <span th:text="${end}">10</span> sur un total de <span th:text="${nbCommunes}" >25000</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>